.header-wrapper{
    width: 100%;
    /*background-color: #424242;*/
    background-image: url('../../../images/galaxy.jpeg');
    background-position: center center;
    color: #eee;
    font-family:  "Magorian Regular",Georgia,Times,"Times New Roman",serif;
    text-align: center;
    font-size: 70px;
    padding: 18% 0 22% 0;
}