<div class="lkm-wrapper-lakkanaMap">
    <img class="lkm-wrapper-img" src="images/lakkanaMap.png" alt="">
    <div class="lkm-aries-index">
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <!--<img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A5.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A6.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A7.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A8.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A9.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A10.png" alt="" class="lkm-lakkana-text">-->
        <img src="images/text/ALux.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-taurus-index">
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-gemini-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-cancer-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-leo-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-virgo-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
     <div class="lkm-libra-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-scorpio-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-sagitarius-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-capricornus-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-aquarius-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
    <div class="lkm-pisces-index"> 
        <img src="images/text/A1.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A2.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A3.png" alt="" class="lkm-lakkana-text">
        <img src="images/text/A4.png" alt="" class="lkm-lakkana-text">
    </div>
</div>

