.clm-wrapper {
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 2%;
    background-color: #F5F5F5;
}
.clm-header-text {
    text-align: center;
}
.clm-header-text {
    text-align: center;
}
.clm-content-wrapper {
    text-align: center;
}
.clm-select-wrapper {
    width: 40%;
}
.clm-convert-button {
    margin-left: 45%;
}
.clm-back-button {
    margin-left: 45%;
    margin-top: 2%;
}
th {
    background-color: #90A4AE;
    /*color: #ffffff;*/
}

@media screen and (max-width: 768px) {
  .clm-convert-button {
        margin-left: 38%;
    }
}